## Pitfalls of Dimensionality Reduction

In [25]:
import pandas as pd
df = pd.DataFrame.from_dict({'year':[2000,2001,2002,2003],
                             'population':[3e8,3e8+10,3e8+20,3e8+30],
                             'stuff':[2,3,1,4]})
df.head()

    population  stuff  year
0  300000000.0      2  2000
1  300000010.0      3  2001
2  300000020.0      1  2002
3  300000030.0      4  2003

In [26]:
df = df.set_index('year')
df.head()

       population  stuff
year
2000  300000000.0      2
2001  300000010.0      3
2002  300000020.0      1
2003  300000030.0      4

In [27]:
from sklearn.decomposition import PCA
pca = PCA()
pca.fit(df.values)
pca.explained_variance_ratio_

array([0.99169657, 0.00830343])

In [33]:
df_normalized = df.div(df.std())
df_normalized.head()

        population     stuff
year
2000  2.323790e+07  1.549193
2001  2.323790e+07  2.323790
2002  2.323790e+07  0.774597
2003  2.323790e+07  3.098387

In [37]:
pca.fit(df_normalized.values)
pca.explained_variance_ratio_

array([0.7, 0.3])

In [42]:
df_change = df.diff().dropna()
pca.fit(df_change.values)
pca.explained_variance_ratio_

array([1., 0.])